.mx-auto
{margin-left: auto;
margin-right: auto;}

.flex
{display: flex;}

.justify-center
{justify-content: center;}

.justify-between
{justify-content: space-between;}

.items-center
{align-items: center;}



.font-bold{font-weight:bolder;
font-size: large;
font-weight: 600;}

.button{
        padding:7px 12px;
        border: 2px solid white;
        border-radius: 6px;
        cursor: pointer;
        color: white;
        background-color:rgb(27, 178, 243);
    }

